<footer>
    <div class="footer-con">
        logo here
        <img src="" alt="">
        <br>
        <div class="newsletter">
            <label for="email">Subscribe to Newsletter</label><br>
            <input type="email" name="email" placeholder="Email Address">
            <button>Subscribe</button>
        </div>
    </div>
    <div class="footer-con">
        <p><b>USEFUL LINKS</b></p>
        <div style="width:75%; display:flex; font-size: 18px;">
            <div class="link-col">
                <a href="">FEATURES</a><br>
                <a href="">ABOUT</a><br>
                <a href="">CONTACT US</a><br>
            </div>
            <div class="link-col">
                <a href="">TERMS & SERVICES</a><br>
                <a href="">LEGAL</a><br>
                <a href="">SITEMAP</a><br>
            </div>
        </div>
    </div>
</footer>