<footer>
  <div class="custom-container">
    <div class="container py-6 is-hidden-mobile">
      <div class="columns is-12 is-flex is-flex-wrap-wrap is-justify-content-center">
        <div class="pt-4 column is-10-desktop is-9-tablet is-10-mobile" style="color: black;">
          <label for="email">Subscribe to Newsletter</label><br />
          <div class="is-flex mt-4">
            <form id="subscriptionForm" class="is-flex ">
              <input class="input pr-6" type="email" id="emailInput" placeholder="Your email address" />
              <button class="ml-3 button is-primary subscribe" type="button" id="subscribeButton" onclick="subscribe()">Subscribe</button>
          </form>
          </div>
        </div>
    
        <div class="footer-con column is-2-desktop is-3-tablet-only is-flex is-justify-content-right is-flex-direction-column">
          <p><b>USEFUL LINKS</b></p>
          <div class="columns">
            <div class="column">
              <a href="/features">PRICING</a><br />
              <a href="/about">ABOUT</a><br />
              <a href="/contact-us">CONTACT US</a><br />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container is-hidden-desktop is-hidden-tablet">
      <div class="columns is-12 is-flex is-flex-wrap-wrap is-justify-content-center">
        <div class="newsletter pt-4 column is-12-mobile " style="color: black;">
          <label for="email">Subscribe to Newsletter</label><br />
          <div class="is-flex mt-4">
            <form id="subscriptionForm" class="is-flex ">
              <input class="input pr-6" type="email" id="emailInput" placeholder="Your email address" />
              <button class="ml-3 button is-primary subscribe" type="button" id="subscribeButton" onclick="subscribe()">Subscribe</button>
          </form>
          </div>
        </div>
    
        <div class="footer-con column is-12-mobile mb-4">
          <p><b>USEFUL LINKS</b></p>
          <div class="columns">
            <div class="column">
              <a href="/features">PRICING</a><br />
              <a href="/about">ABOUT</a><br />
              <a href="/contact-us">CONTACT US</a><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright py-1 has-text-centered">
    <p class="is-size-6 is-size-7-mobile">&copy; 2023 Copyright: Collab Connect - BAD Company</p>
  </div>
</footer>

<script>
  function isValidEmail(email) {
      var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
  }

  function subscribe() {
    var emailInput = document.getElementById('emailInput');
    var email = emailInput.value.trim();

    if (email === '') {
        alert('Please enter your email address');
        emailInput.focus();
        return;
    }

    if (!isValidEmail(email)) {
        alert('Please enter a valid email address');
        emailInput.focus();
        return;
    }

    $("#subscribeButton").html('Subscribed &#10004;');
    $("#subscribeButton").removeClass('is-primary').addClass('is-success');
    $("#emailInput").prop('disabled', true);
  }
</script>

<style>
  footer {
    background-color: #EDEDED;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  a {
    color: black;
  }
 
  .copyright {
    background-color: #B2B2B2;
    color: black;
  }

  .subscribe {
    background-color: #005CA5;
  }

  .subscribe:hover {
    background-color: #03588C;
  }
</style>
