<footer>
  <div class="custom-container">
    <div class="container py-6 is-hidden-mobile">
      <div class="columns is-12 is-flex is-flex-wrap-wrap is-justify-content-space-between">
        <div class="newsletter pt-4 column is-12-mobile" style="color: black;">
          <label for="email">Subscribe to Newsletter</label><br />
          <div class="is-flex mt-4">
            <input class="input pr-6" type="email" placeholder="Your email address" style="width: auto;"/>
            <button class="ml-3 button is-primary subscribe">Subscribe</button>
          </div>
        </div>
    
        <div class="footer-con column is-4-tablet is-12-mobile">
          <p><b>USEFUL LINKS</b></p>
          <div class="columns">
            <div class="column">
              <a href="/features">PRICING</a><br />
              <a href="/about">ABOUT</a><br />
              <a href="/contact-us">CONTACT US</a><br />
              <a href="" class="is-hidden-desktop is-hidden-tablet">TERMS & SERVICES</a><br />
              <a href="" class="is-hidden-desktop is-hidden-tablet">LEGAL</a><br />
              <a href="" class="is-hidden-desktop is-hidden-tablet">SITEMAP</a><br />
            </div>
            <div class="column">
              <a href="" class="is-hidden-mobile">TERMS & SERVICES</a><br />
              <a href="" class="is-hidden-mobile">LEGAL</a><br />
              <a href="" class="is-hidden-mobile">SITEMAP</a><br />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container is-hidden-desktop is-hidden-tablet">
      <div class="columns is-12 is-flex is-flex-wrap-wrap is-justify-content-space-between">
        <div class="newsletter pt-4 column is-12-mobile " style="color: black;">
          <label for="email">Subscribe to Newsletter</label><br />
          <div class="is-flex mt-4">
            <input class="input pr-6" type="email" placeholder="Your email address"/>
            <button class="ml-3 button is-primary subscribe">Subscribe</button>
          </div>
        </div>
    
        <div class="footer-con column is-12-mobile mb-4">
          <p><b>USEFUL LINKS</b></p>
          <div class="columns">
            <div class="column">
              <a href="/features">PRICING</a><br />
              <a href="/about">ABOUT</a><br />
              <a href="/contact-us">CONTACT US</a><br />
              <a href="" class="is-hidden-desktop is-hidden-tablet">TERMS & SERVICES</a><br />
              <a href="" class="is-hidden-desktop is-hidden-tablet">LEGAL</a><br />
              <a href="" class="is-hidden-desktop is-hidden-tablet">SITEMAP</a><br />
            </div>
            <div class="column is-hidden-mobile">
              <a href="" class="is-hidden-mobile">TERMS & SERVICES</a>
              <a href="" class="is-hidden-mobile">LEGAL</a>
              <a href="" class="is-hidden-mobile">SITEMAP</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright py-1 has-text-centered">
    <p class="is-size-6 is-size-7-mobile">&copy; 2023 Copyright: Collab Connect - BAD Company</p>
  </div>
</footer>

<style>
  footer {
    background-color: #EDEDED;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  a {
    color: black;
  }
 
  .copyright {
    background-color: #B2B2B2;
    color: black;
  }

  .subscribe {
    background-color: #005CA5;
  }

  .subscribe:hover {
    background-color: #03588C;
  }
</style>
