<footer>
  <div class="container mt-5 py-6">
    <div class="is-flex is-justify-content-space-between">
      <div class="newsletter pt-4" style="color: black;">
        <label for="email">Subscribe to Newsletter</label><br />
        <div class="is-flex mt-4">
          <input class="input pr-6" type="email" placeholder="Your email address"/>
          <button class="ml-3 button is-primary subscribe">Subscribe</button>
        </div>
      </div>
  
      <div class="footer-con">
        <p><b>USEFUL LINKS</b></p>
        <div class="columns">
          <div class="column">
            <a href="/features">PRICING</a><br />
            <a href="/about">ABOUT</a><br />
            <a href="/contact-us">CONTACT US</a><br />
          </div>
          <div class="column">
            <a href="">TERMS & SERVICES</a><br />
            <a href="">LEGAL</a><br />
            <a href="">SITEMAP</a><br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright py-1 has-text-centered">
    <p class="is-size-6 is-dark">&copy; 2023 Copyright: Collab Connect - BAD Company</p>
  </div>
</footer>

<style>
  footer {
    background-color: #EDEDED;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }

  a {
    color: black;
  }
 
  .copyright {
    background-color: #B2B2B2;
    color: black;
  }

  .subscribe {
    background-color: #005CA5;
  }

  .subscribe:hover {
    background-color: #03588C;
  }
</style>
