<header>
    <div class="header-con">
        <div class="logo">
            <img src="../assets/logo.png" alt="">
            <h1>Collab Connect</h1>
        </div>
        <nav>
            <a href="">Home</a> |
            <a href="">Features</a> |
            <a href="">About</a> |
            <a href="">Contact Us</a> |
        </nav>
    </div>
    <div class="header-con button-side">
        <div class="sign-buttons">
            <button onclick="location.href='./auth/login.ejs'">Sign In</button>
            <button>Sign Up</button>
        </div>
    </div>
</header>
