<header class="container is-flex is-flex-direction-column pt-2">
  <div class="is-flex is-justify-content-space-between is-align-items-center">
    <div class="is-flex is-align-items-center mt-3">
      <i class="bi bi-plugin mr-2"></i>
      <h3 class="py-2">Collab <br /><b>Connect</b></h3>
    </div>
    <div>
      <ul class="is-flex is-flex-direction-row is-align-items-center pt-2">
        <li class="mr-6"><a href="/">Home</a></li>
        <li class="mr-6"><a href="/features">Features</a></li>
        <li class="mr-6"><a href="/about">About</a></li>
        <li class="mr-6"><a href="/contact-us">Contact Us</a></li>
        <a href="/auth/login" class="button is-primary ml-3" style="width: 100px;">Log In</a>
        <a href="/auth/signup" class="button ml-3" style="width: 100px;">Sign Up</a>
      </ul>
    </div>
  </div>
</header>

<style>
  header > div > div > i {
    font-size: 20px;
    padding: 5px 9px;
    border-radius: 10px;
    color: white;
    background: #1abc9c;
  }

  header > div > div > h3 {
    line-height: 16px;
  }

  header > div > div > ul > li {
    text-transform: uppercase;
    font-weight: 600;
  }

  header > div > div > ul > li > a {
    text-decoration: none;
    color: black;
  }
</style>
