<header class="container mb-3">
  <div class="is-flex is-align-items-center mt-3">
    <i class="bi bi-plugin mr-2"></i>
    <h3 class="py-3">Collab <br /><b>Connect</b></h3>
  </div>
  <div
    class="is-flex is-align-items-center is-justify-content-space-between mt-3"
  >
    <ul class="is-flex">
      <li class="mr-6"><a href="/dashboard">Home</a></li>
      <li class="mr-6"><a href="/search">StartUp</a></li>
      <li class="mr-6"><a>Collaboration</a></li>
    </ul>
    <a class="button is-primary" href="/auth/logout">Log Out</a>
  </div>
</header>

<style>
  header > div > i {
    font-size: 20px;
    padding: 5px 9px;
    border-radius: 10px;
    color: white;
    background: #1abc9c;
  }

  header > div > h3 {
    line-height: 16px;
  }

  header > div > ul > li {
    text-transform: uppercase;
    font-weight: 600;
  }

  header > div > ul > li > a {
    text-decoration: none;
    color: black;
  }
</style>
