<header>
  <nav class="navbar-no-desktop" class="is-hidden-desktop">
    <div class="is-flex is-justify-content-space-between">
      <div class="logo-pop">
        <div class="px-4 is-flex is-align-items-center" style="height: 100%;">
          <i class="bi bi-list" style="font-size: 36px;"></i>
        </div>
      </div>
      <div class="is-flex is-align-items-center mr-4">
        <a href="/auth/logout" class="button secondary ml-3" style="width: 100px;">Logout</a> 
      </div>
    </div>
  </nav>

  <!-- Desktop -->
  <aside class="sidebar menu collapsed is-hidden-tablet-only is-hidden-mobile is-desktop-only">
    <div class="is-flex is-flex-direction-column is-justify-content-center px-4 is-hidden-tablet-only">
      <div class="is-flex is-flex-direction-row is-justify-content-space-between" style="height: 80px;">
        <div class="is-flex is-align-items-center my-3 pb-4" style="height: 60px;">
          <i class="bi bi-plugin mr-2 icon-logo-static"></i>
          <h3 class="py-2 text-logo hidden">Collab <br/><b>Connect</b></h3>
        </div>
        <div class="is-flex is-align-items-center is-justify-content-center my-3 pb-4">
          <i class="bi bi-list menu-icon hidden" style="font-size: 32px;"></i>
        </div>
      </div>
      <ul class="menu-list">
        <li><a href="/dashboard" class="menu-list-link"><i class="bi bi-house mr-2 icon-sidebar"></i> <span class="bye-text hidden">Dashboard</span></a></li>
        <li><a href="/search" class="menu-list-link"><i class="bi bi-search mr-2 icon-sidebar"></i> <span class="bye-text hidden">Search</span></a></li>
        <li><a href="/collaboration" class="menu-list-link"><i class="bi bi-people-fill mr-2 icon-sidebar"></i> <span class="bye-text hidden">Collaboration</span></a></li>
    </div>
    <div class="logout-btn px-4 pb-4">
      <ul class="menu-list">
        <li><a href="/auth/logout"><i class="bi bi-box-arrow-right mr-2 icon-sidebar"></i> <span class="bye-text hidden">Logout</span></a></li>
      </ul>
    </div>
  </aside>

  <!-- Tablet & Mobile -->
  <aside class="sidebar menu collapsed is-hidden-desktop">
    <div class="is-flex is-flex-direction-column is-justify-content-center px-4">
      <div class="is-flex is-flex-direction-row is-justify-content-space-between" style="height: 80px;">
        <div class="is-flex is-align-items-center my-3 pb-4" style="height: 60px;">
          <i class="bi bi-plugin mr-2 icon-logo hidden"></i>
          <h3 class="py-2 text-logo hidden">Collab <br/><b>Connect</b></h3>
        </div>
        <div class="is-flex is-align-items-center is-justify-content-center my-3 pb-4">
          <i class="bi bi-list menu-icon hidden" style="font-size: 32px;"></i>
        </div>
      </div>
      <ul class="menu-list">
        <li><a href="/dashboard" class="menu-list-link"><i class="bi bi-house mr-2 icon-sidebar hidden"></i> <span class="bye-text hidden">Dashboard</span></a></li>
        <li><a href="/search" class="menu-list-link"><i class="bi bi-search mr-2 icon-sidebar hidden"></i> <span class="bye-text hidden">Search</span></a></li>
        <li><a href="/collaboration" class="menu-list-link"><i class="bi bi-people-fill mr-2 icon-sidebar hidden"></i> <span class="bye-text hidden">Collaboration</span></a></li>
      </ul>
    </div>
  </aside>

  <script>
    function toggleSidebar() {
      if (sideCollapsed) {
        setTimeout(function () {
          $(".menu-icon").toggle();
          $(".bye-text").toggle();
          $(".text-logo").toggle();
        }, 40);
      } else {
        $(".menu-icon").toggle();
        $(".bye-text").toggle();
        $(".text-logo").toggle();
      }
      $(".icon-logo").toggle();
      $(".sidebar").toggleClass("collapsed");
      sideCollapsed = !sideCollapsed;
    }

    $(document).ready(function () {
      sideCollapsed = true;

      $(".menu-icon").click(
        function () {
          toggleSidebar();
        }
      );

      $(".logo-pop").click(
        function () {
          toggleSidebar();
        }
      );

      $(".special").click(
        function () {
          if (!sideCollapsed) {
            toggleSidebar();
          }
        }
      );

      $(".sidebar").click(function (event) {
        setTimeout(function () {
          toggleSidebar()
        }, 100);
      });
    });
  </script>
</header>

<style>
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #D4D4D4;
    transition: width 0.1s;
    z-index: 99;
  }

  .sidebar>ul>li>a {
    color: black;
    vertical-align: middle;
  }

  .icon-logo, .icon-logo-static {
    font-size: 20px;
    padding: 5px 9px;
    border-radius: 10px;
    color: white;
    background: #1ABC9C;
  }

  .text-logo {
    line-height: 16px;
    color: black;
  }

  .logout-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .icon-sidebar {
    font-size: 21px;
  }

  .collapsed {
    width: 76px;
  }

  .logo-box {
    font-size: 20px;
    padding: 5px 9px;
    border-radius: 10px;
    color: white;
    background: #1abc9c;
  }

  .logo-text {
    line-height: 16px;
    color: #161616;
  }

  @media screen and (min-width: 1024px) {   
    .navbar-no-desktop {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .collapsed {
      width: 0;
      display: none;
    }

  }
</style>