<!DOCTYPE html>
<html lang="en">
<!-- THE HEAD TAG PARTIAL -->
<%- include("partials/head") %>

  <body style="overflow-x: hidden;">
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
      <main class="section-background">
        <div class="custom-container pb-6 alt-background">
          <div class="container py-6">
            <h1 class="title has-text-centered">Pricing</h1>
            <h2 class="subtitle has-text-centered">Please choose a plan below</h2>
            <div class="columns is-12 is-flex is-flex-wrap-wrap is-align-items-center">
              <div class="column is-4 is-12-mobile">
                <div class="pricing-card card p-6">
                  <p class="subtitle mb-4">Basic</p>
                  <div class="is-flex is-flex-direction-row py-2">
                    <p class="is-flex" style="font-size: 24px; align-items: center;">$</p>
                    <p style="font-size: 48px;">9</p>
                    <p class="is-flex " style="font-size: 24px; align-items: end;">/month</p>
                  </div>
                  <p class="py-6">perfect for early-stage startups</p>
                  <div class="is-flex is-justify-content-center">
                    <button class="button pricing secondary is-flex" style="border: 1px solid black;">Get Started with Basic</button>
                  </div>
                </div>
              </div>
              <div class="column is-4 is-12-mobile">
                <div class="p-4 has-text-white-bis" style="border-radius: 10px 10px 0px 0px; background: radial-gradient(circle at 80% 90%, rgb(15, 213, 172) 0%, rgb(34, 182, 198) 100.2%);">
                  <p class="is-size-5">Best Seller</p>
                </div>
                <div class="pricing-card-special card p-6">
                  <p class="subtitle mb-4">Pro</p>
                  <div class="is-flex is-flex-direction-row py-2">
                    <p class="is-flex" style="font-size: 24px; align-items: center;">$</p>
                    <p style="font-size: 48px;">19</p>
                    <p class="is-flex " style="font-size: 24px; align-items: end;">/month</p>
                  </div>
                  <p class="py-6">designed for growth-oriented startups</p>
                  <div class="is-flex is-justify-content-center">
                    <button class="button is-medium pricing is-flex" style="color: #F6F6F6; background-color: rgb(15, 213, 172);">Get Started with Pro</button>
                  </div>
                </div>
              </div>
              <div class="column is-4 is-12-mobile">
                <div class="pricing-card card p-6">
                  <p class="subtitle mb-4">Business</p>
                  <div class="is-flex is-flex-direction-row py-2">
                    <p class="is-flex" style="font-size: 24px; align-items: center;">$</p>
                    <p style="font-size: 48px;">25</p>
                    <p class="is-flex " style="font-size: 24px; align-items: end;">/month</p>
                  </div>
                  <p class="py-6">seamless integration, and exclusive features</p>
                  <div class="is-flex is-justify-content-center">
                    <button class="button pricing secondary is-flex" style="border: 1px solid black;">Get Started with Business</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="custom-background section-background">
          <div class="section-background">
            <div class="container is-flex is-justify-content-center mt-6 py-6" data-aos="fade-right" data-aos-duration="2000">
              <table class="table" style="background-color: transparent;">
                <thead>
                  <tr>
                    <th>Compare features</th>
                    <th>Basic</th>
                    <th>Pro</th>
                    <th>Business</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="height: 60px;"">
                    <td style="vertical-align: middle;">Simple and Intuitive User Interface</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                  <tr style="height: 60px;">
                    <td style="vertical-align: middle;">Customizable Themes and Personalized Look</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                  <tr style="height: 60px;">
                    <td style="vertical-align: middle;">Mobile-Responsive Design</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                  <tr style="height: 60px;">
                    <td style="vertical-align: middle;">Multi-Language Support</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                  <tr style="height: 60px;">
                    <td style="vertical-align: middle;">SSL Encryption</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                  <tr style="height: 60px;">
                    <td style="vertical-align: middle;">Two-Factor Authentication</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                  <tr style="height: 60px;">
                    <td style="vertical-align: middle;">Powerful Collaboration</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                  <tr style="height: 60px;">
                    <td style="vertical-align: middle;">Seamless Integration</td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
                    <td class="has-text-centered" style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <div class="section-background">
            <div class="container is-flex is-flex-direction-column has-text-centered is-justify-content-center is-align-items-center py-6">
              <h2 class="is-size-5">Frequently Asked Questions (FAQ)</h2>
              <div class="faq-container py-4">
                <!-- NOT DONE (FLIP ARROW) -->
                <div class="question is-flex is-flex-direction-column py-2" style="border-bottom: 2px solid rgba(0, 0, 0, 0.25);">
                  <div class="accordion-button is-flex is-justify-content-space-between is-align-items-center py-2">
                    <h3 class="is-size-6 has-text-left is-flex">How does this work?</h3>
                    <i class="bi bi-chevron-down" style="font-size: 20px;"></i>
                  </div>
                  <p class="accordion-content is-size-6 has-text-left hidden">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse libero totam atque explicabo molestiae
                    omnis ratione reiciendis eius veritatis. Deleniti nam consequuntur, consectetur rem esse placeat at.
                    Porro, facilis fugit?
                  </p>
                </div>
    
                <div class="question is-flex is-flex-direction-column py-2" style="border-bottom: 2px solid rgba(0, 0, 0, 0.25);">
                  <div class="accordion-button is-flex is-justify-content-space-between is-align-items-center py-2">
                    <h3 class="is-size-6 has-text-left is-flex">How does this work?</h3>
                    <i class="bi bi-chevron-down" style="font-size: 20px;"></i>
                  </div>
                  <p class="accordion-content is-size-6 has-text-left hidden">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse libero totam atque explicabo molestiae
                    omnis ratione reiciendis eius veritatis. Deleniti nam consequuntur, consectetur rem esse placeat at.
                    Porro, facilis fugit?
                  </p>
                </div>
    
                <div class="question is-flex is-flex-direction-column py-2" style="border-bottom: 2px solid rgba(0, 0, 0, 0.25);">
                  <div class="accordion-button is-flex is-justify-content-space-between is-align-items-center py-2">
                    <h3 class="is-size-6 has-text-left is-flex">How does this work?</h3>
                    <i class="bi bi-chevron-down" style="font-size: 20px;"></i>
                  </div>
                  <p class="accordion-content is-size-6 has-text-left hidden">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse libero totam atque explicabo molestiae
                    omnis ratione reiciendis eius veritatis. Deleniti nam consequuntur, consectetur rem esse placeat at.
                    Porro, facilis fugit?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <script>
        AOS.init();

        $(document).ready(function () {
          $('.accordion-button').click(function () {
            $(this).siblings('.accordion-content').slideToggle();
          });
        });
      </script>
      <!-- THE HEAD TAG PARTIAL -->
      <%- include("partials/footer") %>
  </body>

</html>