<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main class="container my-6">
      <div>
        <h1 class="title">FEATURES</h1>
        <p class="subtitle">
          CollabConnect offers users the ability to find for a partnership for
          their start-up the simpler and easier way. To help users find their
          partner busines at ease, here are the features that CollabConnect has
          to offer.
        </p>
        <br />
        <div class="columns is-multiline">
          <div class="column is-12">
            <div class="box">
              <h1 class="title is-5">Category-Based Searching</h1>
              <p class="subtitle is-6">
                With CollabConnect, finding partnership for your start-up
                business is much easier as start-ups or businesses like yours
                can customize their profile in CollabConnect including the
                category of their business. So, whenever you need to search for
                a matching business to partner up, simply click on the available
                category of the business that you would like to find and a list
                of businesses related to that category will appear in front of
                your screen for you to choose.
              </p>
              <p>
                Know a specific business personally that you want to partner up
                here? You could also manually search up their business name and
                CollabConnect will search the business with the matching name
                and/or profile
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="box">
              <h1 class="title is-5">Quick and Easy Request for Partnership</h1>
              <p class="subtitle is-6">
                CollabConnect has revolutionized partnership requests, offering
                a streamlined and user-friendly process. Users can customize and
                submit requests within minutes, thanks to the platform's
                intuitive interface, eliminating unnecessary complexities.
                Real-time notifications and rapid responses facilitate quick
                communication, enabling users to engage with potential partners
                seamlessly. CollabConnect's commitment to efficiency extends to
                collaborative planning tools and document sharing, ensuring
                users focus on building meaningful collaborations without
                time-consuming hurdles.
              </p>
              <p>
                In essence, CollabConnect transforms the journey from request
                submission to collaboration into a quick and efficient process,
                revolutionizing how partnerships are forged and managed.
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="box">
              <h1 class="title is-5">One-on-one Communication with Start-up</h1>
              <p class="subtitle is-6">
                Engaging in one-on-one communication with startups on
                CollabConnect is exceptionally efficient. The platform's
                streamlined interface facilitates direct and instant
                communication, allowing users to connect with startup
                representatives seamlessly. Real-time messaging features ensure
                quick responses, fostering efficient dialogue and eliminating
                delays commonly associated with traditional communication
                channels.
              </p>
              <p>
                CollabConnect's dedicated tools for document sharing and
                collaborative planning further enhance the efficiency of
                one-on-one communication. Whether discussing project details,
                sharing key documents, or strategizing next steps, the platform
                provides a centralized hub for swift and effective interaction.
                This efficiency not only saves time but also empowers users to
                build strong connections with startups, maximizing the potential
                for successful collaborations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
