<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <style>
    .jumbotron{
      display: flex;
    }
    .jumbo-text, .jumbo-img{
      width: 50%;
      padding: 20px;
      /* border: 2px solid red; */
    }
    .partners{
      text-align: center;
      background-color: rgb(67, 216, 167);
      color: white;
      padding: 10px 20px;
    }
    .partners-text{
      width: 70%;
      margin: auto;
    }
    .row{
      display: flex;
      flex-direction: row;
    }
    .col{
      width: 31%;
      height: 100px;
      border-radius: 10px;
      
      color: black;
      box-shadow: 0px 5px 5px rgb(32, 106, 81);
      text-align: center;
      background-color: white;

      padding: 20px;
      margin: 10px auto;
    }

    .stories{
      background-color: rgb(234, 234, 234);
      padding: 20px 0;
    }

    .stories-nasa, .stories-microsoft{
      display: flex;
      flex-direction: row;
      margin: 20px auto;
      width: 95%;
    }

    .stories-head{
      text-align: center;
    }

    .story-text, .story-img{
      width: 50%;
    }
  </style>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
      <section class="jumbotron">
        <div class="jumbo-text">
          <h1>COLLABORATIVE<br>SOLUTIONS FOR START-UP</h1>
          <p>Unlock the full potential of your start-up through our collaborative solutions, where innovative minds converge with expert insights to navigate challenges and propel your entrepreneurial journey to unprecedented heights</p>
          <button onclick="location.href='auth/login.ejs'">Get Started</button>
        </div>
        <div class="jumbo-img">
          image here lmao
        </div>
      </section>
      <section class="partners">
        <div class="partners-text">
          <h1>Featured Partners</h1>
          <p>Explore excellence with our standout partners, leaders in innovation and collaboration. Together, we redefine industry standards, driven by shared vision and unwavering commitment. join us in celebrating the power of collaboration for boundless possibilities</p>
        </div>
        <div class="row">
          <div class="col">
            AWS
          </div>
          <div class="col">
            NASA
          </div>
          <div class="col">
            Microsoft
          </div>
        </div>
        <div class="row">
          <div class="col">
            Google
          </div>
          <div class="col">
            Kickstarter
          </div>
          <div class="col">
            Twitch
          </div>
        </div>
      </section>
      <section class="stories">
        <div class="stories-head">
          <h1>Featured Stories</h1>
          <p>Bruh bruh bruh</p>
        </div>
        <div class="stories-nasa">
          <div class="story-img">
            image here
          </div>
          <div class="story-text">
            <h1>COLLABORATION WITH<br>NASA SPACE EXPLORATION</h1>
            <p>Insert text here</p>
          </div>
        </div>
        <div class="stories-microsoft">
          <div class="story-text">
            <h1>COLLABORATION WITH<br>MICROSOFT</h1>
            <p>insert text here</p>
          </div>
          <div class="story-img">
            image here
          </div>
        </div>
      </section>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
