<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main class="pt-6">
      <div class="container mb-6">
        <div class="columns">
          <div
            class="column py-6 is-flex is-flex-direction-column is-justify-content-center"
          >
            <div>
              <h1 class="title">COLLABORATIVE<br />SOLUTIONS FOR START-UP</h1>
              <p class="subtitle">
                Unlock the full potential of your start-up through our
                collaborative solutions, where innovative minds converge with
                expert insights to navigate challenges and propel your
                entrepreneurial journey to unprecedented heights
              </p>
              <a class="button is-primary" href="auth/login">Get Started</a>
            </div>
          </div>
          <div class="column">
            <img
              style="border-radius: 10px"
              src="/images/jumbo.jpeg"
              alt="Jumbo"
            />
          </div>
        </div>
      </div>

      <div class="has-background-primary">
        <div class="container py-6">
          <div class="has-text-centered">
            <h1 class="title has-text-white-bis">Featured Partners</h1>
            <p class="subtitle has-text-white-bis">
              Explore excellence with our standout partners, leaders in
              innovation and collaboration. Together, we redefine industry
              standards, driven by shared vision and unwavering commitment. join
              us in celebrating the power of collaboration for boundless
              possibilities
            </p>
          </div>
          <div class="columns mt-2">
            <div class="column is-flex">
              <div
                class="box is-flex is-align-items-center is-justify-content-center"
                style="width: 100%"
              >
                <img src="/images/aws.png" alt="NASA" />
              </div>
            </div>
            <div class="column is-flex">
              <div
                class="box is-flex is-align-items-center is-justify-content-center"
                style="width: 100%"
              >
                <img src="/images/nasa.png" alt="NASA" />
              </div>
            </div>
            <div class="column is-flex">
              <div
                class="box is-flex is-align-items-center is-justify-content-center"
                style="width: 100%"
              >
                <img src="/images/ms.png" alt="Microsoft" />
              </div>
            </div>
          </div>
          <div class="columns mt-2">
            <div class="column is-flex">
              <div
                class="box is-flex is-align-items-center is-justify-content-center"
                style="width: 100%"
              >
                <img src="/images/google.png" alt="Google" />
              </div>
            </div>
            <div class="column is-flex">
              <div
                class="box is-flex is-align-items-center is-justify-content-center"
                style="width: 100%"
              >
                <img src="/images/ks.png" alt="Kickstarter" />
              </div>
            </div>
            <div class="column is-flex">
              <div
                class="box is-flex is-align-items-center is-justify-content-center"
                style="width: 100%"
              >
                <img src="/images/twitch.png" alt="twitch" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="has-background-light">
        <div class="container py-6">
          <div class="has-text-centered">
            <h1 class="title">Featured Partners</h1>
            <p class="subtitle">
              Explore excellence with our standout partners, leaders in
              innovation and collaboration. Together, we redefine industry
              standards, driven by shared vision and unwavering commitment. join
              us in celebrating the power of collaboration for boundless
              possibilities
            </p>
          </div>
          <div class="columns mt-3">
            <div class="column">
              <img src="/images/nasa-img.png" alt="NASA Exploration" />
            </div>
            <div class="column">
              <h1 class="title is-4">
                COLLABORATION WITH<br />NASA SPACE EXPLORATION
              </h1>
              <p class="subtitle">
                The startup, StellarTech Innovations, achieved cosmic success by
                collaborating with NASA on a groundbreaking space exploration
                mission. Together, they redefined the limits of innovation,
                setting a historic milestone in collaborative excellence and
                propelling their startup to new heights in the space-age
                frontier.
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <h1 class="title is-4">COLLABORATION WITH<br />MICROSOFT</h1>
              <p class="subtitle">
                Teaming up with Microsoft, the startup, SmartFlush Innovations,
                transformed the mundane toilet into a tech marvel. The result? A
                sleek, efficient smart toilet that redefines bathroom
                experiences, showcasing the power of innovation and
                collaboration in unexpected places.
              </p>
            </div>
            <div class="column">
              <img src="/images/ms-toilet.png" alt="MS Toilet" />
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
