@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://unpkg.com/aos@next/dist/aos.css"); 

:root {
    --primary-text-color: #252525;
    --secondary-text-color: #252525;
    --background-color: #FFFFFF;
    --section-color: #E9F1FA;
    --alt-background-color: #CCE6F4;
    --card-color: #F6F6F6;
    --banner-color: #BFB8B4;
    --button-color: #0076E4;
    --button-hover-color: #00ABE4;
    --secondary-button-hover-color: #f5f5f5;
    --cta-button-color: #fb9c35;
    --underline-color: #3f61dd;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.section-background {
    background-color: var(--section-color);
}

.primary-text {
    color: var(--primary-text-color) !important;
}

.secondary-text {
    color: var(--secondary-text-color) !important;
}

.button.is-primary {
    background-color: var(--button-color);
}

.button.is-primary:hover,
.button.is-primary:focus {
    background-color: var(--button-hover-color);
}

.app-background {
    background-color: #F6F6F6;
}

.alt-background {
    background-color: var(--alt-background-color);
}

.banner {
    background-color: var(--banner-color);
}

.card-background {
    background-color: var(--card-color);
}

.transparent {
    background-color: transparent;
}

.faq-container {
    width: 60%;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.pricing-card {
    background-color: white;
    border-radius: 10px;
}

.pricing-card-special {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.button {
    border-radius: 40px;
}

.pricing {
    width: 220px;
}

.special {
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 100%;
}

.hide {
    display: none !important;
}

.input-special {
    outline: none;
    box-shadow: none;
}

.input-special:focus {
    outline: none;
    box-shadow: none;
}

.paint-background {
    background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

.left-rounded {
    border-radius: 10px 0 0 10px;
}

.right-rounded {
    border-radius: 0 10px 10px 0;
}

.border-only {
    border: 1px solid grey;
}

.border-bot-only {
    border-bottom: 1px solid grey;
}

.border-top-only {
    border-top: 1px solid grey;
}

.chat-background {
    background-color: #327762;
}

.chatbox-background {
    background-color: #F1F1F1;
}

.incoming-message {
    background-color: #b6b6b6;
    padding: 10px;
    border-radius: 0 8px 8px 8px;
    margin-bottom: 10px;
    max-width: 40rem;
}

.outgoing-message {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 8px 0 8px 8px;
    margin-bottom: 10px;
    max-width: 40rem;
}

.chat-card {
    cursor: pointer;
}

.chat-container {
    max-height: 70vh;
}

.new-message-placeholder {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-height: 1.5;
}



.main-desktop {
    padding-left: 6rem !important;
}

.chat-desktop {
    padding: 0 !important;
}

.before-chat-radius-top-left {
    border-radius: 10px 0 0 10px;
    background-color: beige;
}

.before-chat-radius-bot-left {
    border-radius: 0 0 0 10px;
    background-color: beige;
}

.after-chat-radius-top-right {
    border-radius: 0 8px 0 0;
}

.before-chat-radius-right {
    border-radius: 0 10px 10px 0;
    background-color: beige;
}

@media screen and (max-width: 1023px) {
    .custom-container {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .main-desktop {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }

    .chat-desktop {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }

    .special-hide {
        display: none;
    }

    .fixed-screen {
        overflow-y: hidden;
    }

    .special-container {
        min-height: 90vh;
        height: auto;
        overflow: hidden;
    }

    .incoming-message, .outgoing-message {
        max-width: 30rem;
    }

    .chat-input {
        padding-right: 2rem !important;
    }
}

@media screen and (max-width: 768px) {
    .custom-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .incoming-message, .outgoing-message {
        max-width: 20rem;
    }
}

@keyframes moveRight {
    from {
        transform: translateX(-100%);
      }

    to {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
      }

    to {
        transform: translateX(-100%);
    }
}

.slide-container {
    overflow: hidden;
    white-space: nowrap;
    mask: linear-gradient(90deg, transparent, #C3E2C2 20%, #C3E2C2 80%, transparent);
}

.slide-container:before, .slide-container:after {
    position: absolute;
    width: 100vw;
}

.slide-container:before{
    left: 0;
    background: linear-gradient(to left, grey, white);
}

.slide-container:after{
    right: 0;
    background: linear-gradient(to left, grey, white);
}

.slide-infinite {
    display: inline-block;
}

.move-left {
    animation: 25s moveLeft infinite linear;
}

.move-right {
    animation: 25s moveRight infinite linear;
}