body{
    font-size: 20px;
}

header{
    display: flex;
    box-shadow: 0px 5px 5px grey;
    padding: 5px
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.button-side{
    display: flex;
    justify-content: end;
    align-items: end;
}

nav{
    width: max-content;
}

nav a{
    margin: 0 20px;
}

button{
    transition: all .25s;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 3px lightgrey;

    background-color: rgb(67, 216, 167);
    color: white;
    font-size: 18px;
    padding: 7px 30px;
    margin: 5px 0px;
}

button:hover{
    background-color: rgb(39, 125, 96);
}

.header-con, .footer-con{
    width: 50%;
}

input[type='email'], input[type='password'], input[type='text']{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 3px grey;

    width: 250px;
    height: 30px;
    padding: 5px;
}

.newsletter{
    margin: 10px 0;
}

.link-col{
    margin-right: auto;
}